.App-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.App-menu li {
  float: left;
}

.App-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App-menu li a:hover:not(.active) {
  background-color: #111;
}

.App-menu .active {
  background-color: #4CAF50;
}

.App-content {
  padding: 20px;
  margin-top: 30px;
  position: relative;
}

.button {
  background: #ffffff;
  border: solid 1px #EEEEEE;
  border-radius: 2px;
  color: #333333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.button:hover{
  border-color: #108ee9;
  color: #108ee9;
}

.button--primary {
  background-color: #108ee9;
  color: white;
  border-color: #108ee9;
}

.button--primary:hover {
  background-color: #1769e9;
  color: white;
}

